.footer {
    background-color: var(--container-color);
    border-top: 1px solid #000;

    &__container {
        padding: 2rem 0 6rem; // top: 2rem | left, right: 0 | bottom: 6rem
    }

    &__title,
    &__link {
        color: var(--title-color);
        transition: .4s;
    }

    &__title {
        text-align: center;
        margin-bottom: var(--mb-2);
    }
    &__link:hover{
        opacity: 0.8;
    }

    &__list {
        display: flex;
        justify-content: center;
        column-gap: 1.5rem;
        margin-bottom: var(--mb-2);
    }
    &__social {
        display: flex;
        justify-content: center;
        column-gap: 1.25rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #000;
    }
    &__social-link {
        background-color: rgb(0, 0, 0);
        color: var(--container-color);
        font-size: 1.125rem;
        padding: 0.4rem 0.6rem;
        border-radius: 0.5rem;
        display: inline-flex;
        stransition: .4s;


        &:hover {
            opacity: 0.8;
        }
    }

    &__copy {
        display: block;
        margin-top: 4.5rem;
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: var(--smaller-font-size);
    }
}

//*   =============================
//! ========== BREAKPOINTS ==========
//*   =============================

//* Large devices
@media screen and (max-width: 992px) {
    .footer {
        &__social-link{
            padding: 0.2rem 0.35rem;
            border-radius: 0.25rem;
        }
    }
}

//* Semi-large devices
@media screen and (max-width: 768px) {
   
}

//* Medium devices
@media screen and (max-width: 576px){

}

//* Small devices
@media screen and (max-width: 350px) {
    
}
